

 <div class="column main-pane">


  <div class= "content-pane">
  <div class="title-text">Students</div>
 
 <table class="table table-striped table-hover trans-table column col-11 col-mx-auto">
      <thead>
        <tr>
          <th class="id">ID</th>
          <th class="name">Name</th>
            <th class="action">Action</th>
        </tr>
      </thead>
      <tbody>
    
         <tr>
  <%= for student<- @student do %>  
<td class="id"><%= student.id %></td>
<td class="id"><%= student.name %></td>

<td class="id"><%= link "Show", to: Routes.student_path(@conn, :show, student) %></td>


         </tr>
         
        <% end %>
       </tbody>
    </table>

</div>

</div>





</div>
</div>