<div class="column main-pane">


  <div class= "content-pane">
<div class="title-text">Student Details</div>
<div><b>Name: </b><%= @student.name %></div>
<div><b>Department: </b><%= @student.department %></div>
<div><b>Registered Courses: </b><%= @student.courses |>Enum.map(&(&1.title)) |> Enum.join(", ") %></div>



<div class="reg-text">Please select from the following courses in your department for this term </div>

 <table class="table table-striped table-hover trans-table column col-11 col-mx-auto">
      <thead>
        <tr>
          <th class="code">Code</th>
          <th class="title">Title</th>
          <th class="credits">Credits</th>
           <th>Action</th>
        </tr>
      </thead>
      <tbody>
      <%= for course <- @course do %>
         <tr>
         <%= form_for @conn, "/student", [class: "course-form form-inline", as: :course], fn f -> %>
<td class="id"><%= course.code %></td>
<%= hidden_input f, :course_id, value: course.id %>
<td class="id"><%= course.title %></td>
<td class="id"><%= course.credits %></td>
<td class="id"><button type="submit" class= "btn-dim">Add</button> </td>

<%= hidden_input f, :student_id, value: @student.id %>
         </tr>
           <% end %>
         <% end %>
       </tbody>
    </table>

<div class="course-count"></div>

</div>
</div>
</div>

</div>