<div class="column main-pane">


  <div class= "content-pane">
<div class="title-text">Courses</div>

 <table class="table table-striped table-hover trans-table column col-11 col-mx-auto">
      <thead>
        <tr>
          <th class="code">Code</th>
          <th class="title">Title</th>
          <th class="credits">Credits</th>
           <th>Action</th>
        </tr>
      </thead>
      <tbody>
      <%= for course <- @course do %>
         <tr>
    
<td class="id"><%= course.code %></td>
<td class="id"><%= course.title %></td>
<td class="id"><%= course.credits %></td>
<td class="id"> <%= link "Show", to: Routes.course_path(@conn, :show, course) %> </td>


         </tr>
         
         <% end %>
       </tbody>
    </table>

<div class="course-count"></div>






</div>
</div></div>