<div class="column main-pane">


  <div class= "content-pane">
<div class="title-text">Course Details</div>
<p><span class="title"><b>Title: </b></span><%=  @course.title %></p>
<p><span class="code"><b>Code: </b></span><%=  @course.code  %></p>

<p><span class="department"><b>Department: </b></span><%=  @course.department  %></p>

<div class ="ac">
<button class="accordion1 t1">Students Registered </button>
<div class="panel">
  <p><%=  @course.students|>Enum.map(&(&1.name)) |> Enum.join(", ")  %></p>
</div>

<button class="accordion1 t2">Lecturers Registered</button>
<div class="panel">
  <p><%=  @course.lecturers|>Enum.map(&(&1.name)) |> Enum.join(", ")  %></p>

<div class="addon">
  <p><b>Add Lecturer</b><p>
  <div class ="columns">
   <div class ="column col-4">
<%= form_for @lecturer_changeset, Routes.lecturer_path(@conn, :create), fn f -> %>
  <%= label f, :name %>
  <%= text_input f, :name %>
  <%= error_tag f, :name %>
  </div>
   <div class ="column col-8">
  <div>
  <button type="submit" class= "btn btn-dim ">Add</button>
  </div>
  <%= hidden_input f, :course_id, value: @course.id %>
<% end %>
</div> </div>
</div>
</div>





  </div>
    </div>