<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>School </title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    
     <main role="main" class="jj">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
        <div class= "title-pane">
  
         <div class= "header-text">Hi There  <b></b></div>
     
       </div>
           
   <div class="grid-container columns">
        <div class=" side-pane column">
        <div class="icon-container">
   
         <button class="bt" id= "b3" onclick="location.href='/course'"> Courses</button>
            <button class="bt" id= "b1" style="background-color:#5755d9 ;color:white" onclick="location.href='/student'"> Students </button>

        


         </div>
      </div>
     
     
     <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
