/* This file is for your main application css. */

@import "./phoenix.css";
@import "../node_modules/spectre.css/dist/spectre.min.css";
@import "../node_modules/spectre.css/dist/spectre-exp.min.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/font-awesome/css/font-awesome.css";

.content-pane-memo{margin:0px 66px 0px 46px ; background-color: #ffffff; height:100%; padding-left:37px; padding-top:18px}
.grid-container{ width:100%; height:100vh}
.header-text{padding:30px 0px 16px 39px; font-size: 17px; height:20px;   color: #000000;}

html{height:100%}
body{width:100%; min-height: 100%; font-size: 17px}
.content-pane{margin:83px 66px 0px 46px ; background-color: #ffffff; height:100%; padding-left:37px; padding-top:18px}
.content-pane-2{margin:83px 96px 0px 194px ; width: 900px; background-color: #ffffff; height:100%; padding-left:37px; padding-top:18px}
.content-pane_login{margin:83px 96px 0px 194px ; width: 900px; background-color: #ffffff; height:400px; padding-left:37px; padding-top:18px}
.content-pane-1{margin:16px 48px 0px 48px ; background-color: #ffffff; padding-top:18px; padding-bottom: 48px;}
.draft-pane{margin-left: 48px !important; margin-right: 48px !important; margin-top: 32px;}
.content-title{margin-left: 51px; margin-top: 51px; margin-bottom: 33px; width:180px; height: 28px; font-size: 24px }
.grid-container{ width:100%; height:1600px; margin-bottom: 0px; padding-bottom: 0px; overflow:hidden }
.header-text{padding:30px 0px 16px 39px; font-size: 17px; height:20px;   color: #000000;}
.main-pane{margin: 0px; padding: 0px; background-color:  #f9f9f9; }
.balance-pane{width: 793px; margin:21.5px 66px 0px 46px ; background-color:#ffffff;  padding-left:37px;  }
.side-pane{max-width: 200px; background-color: #ffffff;  border-right: 1px solid rgba(151, 151, 151, 0.3); padding:0px  }
.nav{padding-top: 30px;}
.nav2{padding-top: 20px; padding-bottom: 5px;  }

.title-pane{ background-color: #ffffff; height:70px; border-bottom: 1px rgba(151, 151, 151, 0.3) solid;   margin-top:0px;  width:100%; padding-left:101px; }
.icon-container{width:100%}
.icons{height:48px; margin-bottom: 5px }
.list{ list-style:none; text-align:center; margin:0px}
.list li{margin-top:0px; padding: 16px 0px }
.list li:hover{ color:#ea4c89; background-color:rgba(234, 76, 137, 0.08) }
.list li:active{ color:#ea4c89; background-color:rgba(234, 76, 137, 0.08) }

.bt{width: 100%; color:#4a4a4a; border: 0px ; padding: 16px 0px; background-color:#ffffff}
.bt:hover{ color:black; background-color:rgb(140, 139, 230, 0.2) }
.bt:active{ color:black; background-color:rgb(140, 139, 230, 0.2) }
.bt:visited{ color:black; background-color:rgbargb(140, 139, 230, 0.2)}
.tab-btn{margin-bottom:0px; border:0px; border-radius: 0px; background-color: transparent; font-size: 20px; height:63px ; padding:0px; padding-left:20px;  padding-right:19px}
.tab-btn:active{background-color: #f8f8ff; border-right: 5px solid #6964d9}
.tab-btn:hover{background-color: #f8f8ff; border-right: 5px solid #6964d9}
.tab-btn:visited{background-color: #f8f8ff; border-right: 5px solid #6964d9}
.acc-details {margin-top: 30px; margin-left: 46px; background-color: #fff; width: 60%; height: 115px; padding: 32px 32px 0 12px  }
.acc-details span{font-size: 14px}
.trans-table{margin-top: 65px}
.tab-btn:active{background-color: #f8f8ff; border-right: 5px solid #6964d9; color:#6964d9}
.tab-btn:hover{background-color: #f8f8ff; border-right: 5px solid #6964d9; color:#6964d9}
.tab-btn:visited{background-color: #f8f8ff; border-right: 5px solid #6964d9; color:#6964d9; }
.btn-dim{color:#ffffff; background-color: #5755d9; border: 1px solid #6964d9; border-radius:5px; padding:2px 10px }

.reg-text{margin-top: 20px; padding-left: 50px; margin-bottom: 2px }
.table{margin-top:0px}

.title-text{font-size:24px; font-weight:600px; margin-bottom: 30px} 


 /* Style the buttons that are used to open and close the accordion panel */
 .accordion1 {

    color: rgb(39, 39, 39);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: 0;
    outline: none;
    transition: 0.4s;
  }
  .t1{background-color:#eceff1; border: 1px solid #dee2e6;}
  .t2{background-color:#ffffff; border: 1px solid #dee2e6;}
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion1:hover {
    background-color: #5755d9
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 ;
    background-color: white;
    display: none;
   
  } 
  .addon{border-top:1px solid #dee2e6;; padding: 15px 15px;}
  .ac{ width:100%;  padding-right: 50px }